@charset "UTF-8";

body {
    background-color: rgb(49, 49, 49);
    margin: 0;
    background-image: url(/imagens/2109.w026.n002.907B.p0.907.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    max-width: 1000px;
    height: 50px;
    background-color: #daa520;
    margin: auto;
    padding: 20px;
    position: sticky;
    top: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
    color: black;
}

header img {
    max-width: 70px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.568);
    border-radius: 50%;
    transform: translate(50%, -15%);
    border-color: #9c7510;
    border-style: double;
}


ul {
    margin: auto;
    list-style: none;
    float: right;
    word-spacing: 50px;
    transform: translate(-30%, 10%);
}

li {
    display: inline-block;
    padding: 7px 10px;
    font-size: 25px;
    word-spacing: 50px;
    color: black;
}

li:hover {
    padding: 7px 10px;
    font-size: 25px;
    color: black;
    background-color: #9c7510;
    border-radius: 10px;
    margin-left: auto;
    transition-duration: 0.5s;

}

a {
    text-decoration: none;
}


@media screen and (max-width: 700px) {
    header {
        height: 120px;
    }
    header img {
        box-sizing: border-box;
        align-items: stretch;
        position: relative;
        left: 38%;
        transform: none;
    }
    ul {
        position: absolute;
        right: -55px;
        max-width: 100%;
    
    }
}



/* ----------- !Conteúdo Principal! ----------- */
#natura {
    background-color: #daa520b0;
    width: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.815);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#sectionnatura {
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: 4%;
}

main {
    background-image: url(/imagens/natura-fundo-inicio.jpg);
    max-width: 1040px;
    margin: auto;
    background-size: cover;
    height: 472px;

}


/* ----------- !Conteúdo Catálogo! ----------- */

#produtosgeral {
    margin: auto;
    max-width: 1040px;
    max-height: 1500px;
}

.catalogo {
    background-color: #313131;
    float: left;
    min-width: 483px;
    height: 1500px;
}

.novidades {
    background-color: #313131;
    float: right;
    min-width: 483px;
    height: 1500px;
}

section img {
    width: 160px;
    border-radius: 0px 30% 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}


.seçao h2 {
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9c7510;
    margin: auto;
    border-radius: 0 0 50px 50px;
}


.cat1 {
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    height: 200px;
    margin: 20px;
    background-color: #daa520;
    border-width: 20px;
    border-radius: 10px;
}

.cat2 {
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    height: 200px;
    margin: 20px;
    background-color: #daa520;
    border-width: 20px;
    border-radius: 10px;
}

.cat3 {
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    height: 200px;
    margin: 20px;
    background-color: #daa520;
    border-width: 20px;
    border-radius: 10px;
}

.cat4 {
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    height: 200px;
    margin: 20px;
    background-color: #daa520;
    border-width: 20px;
    border-radius: 10px;
}

.cat5 {
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    height: 200px;
    margin: 20px;
    background-color: #daa520;
    border-width: 20px;
    border-radius: 10px;
}

.cat6 {
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    height: 200px;
    margin: 20px;
    background-color: #daa520;
    border-width: 20px;
    border-radius: 10px;
}

footer {
    background-color: rgb(39, 39, 39);
    clear: both;
    height: 80px;
    max-width: 1040px;
    margin: auto;
}

footer p {
    color: #9c7510;
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
