body {
    background-color: gray;
    font-size: 50px;
}

h1 {
    margin: 0, 0, 10, 0;
    font-size: 50px;
}

#containergeral {
    text-align: center;
    background-color: aquamarine;
    max-width: 600px;
    margin: auto;
    padding: 20px 5px;
}

#valorreal {
    font-size: 50px;
    margin: auto;
    position: relative;
    right: 30px;
    background-color: transparent;
    max-width: 300px;
}

input[type="number"] {
    padding: 1px 5px;
    width: 219px;
    font-size: 50px;
    background-color: transparent;
    border-bottom: solid 5px rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="button"] {
    text-align: center;
    margin: 15px 0px;
    font-size: 50px;
    padding: 10px 15px;
    background-color: transparent;
    border: double;
}

#resultado {
    font-size: 50px;
    word-wrap: break-word;
}
